{% extends 'plantilla.html' %}

{% block contenido %}

    <!-- Parrafo introductorio -->
    <p>Todas las pautas que se muestran a continuaci&oacute;n son las comprobaciones que se realizan sobre el documento o el texto que se ha pasado previamente.</p>

    <!-- EXPLICACION PAUTA -->
    <h1>Primera pauta: evitar el uso de palabras de contenido indeterminado</h1>
    <p>
        Se identifican palabras de contenido indeterminado como: cosa, algo o asunto.
        Esta pauta se basa en la premisa de que hay que ser espec&iacute;ficos cuando se est&aacute; escribiendo. Cualquier persona que se aproveche de esta metodolog&iacute;a lo agradecer&aacute;.
    </p>

    <!-- EXPLICACION PAUTA -->
    <h1>Segunda pauta: los numeros de telefono se deberian separar por bloques</h1>
    <p>
        A modo de ejemplo, se considerar&aacute;n n&uacute;meros de tel&eacute;fono bien formados:
        <ul>
            <li class="without-dott">+34 (661) 80-43-87</li>
            <li class="without-dott">924 485 651</li>
            <li class="without-dott">91-634-25-87</li>
        </ul>
        Por el contrario, se considerar&aacute;n n&uacute;meros de tel&eacute;fono mal formados los que tengan un formato como: 661804387.
    </p>

    <!-- EXPLICACION PAUTA -->
    <h1>Tercera pauta: evitar escribir la hora en formato 24h</h1>
    <p>
        Se procede como el anterior caso, a modo de ejemplo tenemos:
        <ul>
            <li class="without-dott">Las 23:00 deber&iacute;a escribirse como: 11 de la noche.</li>
            <li class="without-dott">Las "12 y 40 de la mañana" o "10 minutos despu&eacute;s de las 12 y media de la ma&ntilde;ana" por "12 y 40 de la ma&ntilde;ana" o "1 menos 20 de la ma&ntilde;ana".</li>
        </ul>
    </p>

    <!-- EXPLICACION PAUTA -->
    <h1>Cuarta pauta: evitar el uso de conectores complejos entre oraciones</h1>
    <p>
        Por ejemplo: "Luis sabía la respuesta. Sin embargo, se quedó callado." deber&iacute; tener el siguiente aspecto: "Luis sabía la respuesta, pero se quedó callado.".
    </p>

{% endblock contenido %}