{% extends 'plantilla.html' %}

{% block contenido %}

    <h1>Concepto de Lectura fácil y resumen del proyecto</h1>

    <p>
        El concepto de “Lectura Fácil” surge en Suecia (a finales de los años sesenta) como 
        necesidad social, donde se apela a cuestiones democráticas y de accesibilidad, ya que
        cualquier persona debe poder tener acceso a la cultura,
        literatura e información, a ser posible, de modo comprensible.
    </p>
    <p>
        Y, ¿cómo definimos Lectura Fácil? Se define como la adaptación del texto que
        permite una lectura y una comprensión más sencilla. Se parte con la idea de
        que no es suficiente que el texto sea legible, sino que también debe tener una
        estructura y un vocabulario que permitan la comprensión del contenido.
        
        De esta metodología se aprovechan, entre otros, dos grandes grupos de
        personas: las personas con discapacidad intelectual y las personas con
        competencias lingüísticas o lectoras limitadas.
    </p>
    <p>
        Durante este trabajo se implementarán cuatro pautas que serán
        complementarias a las ya existentes. Estas pautas nos permiten conocer si un
        texto se puede considerar de lectura fácil. Se implementarán en dos procesos:
        identificación del problema y adaptación del texto.
    </p>
    <p>
        Por último, esta implementación se realizará a través del desarrollo de una API
        RESTful, donde cada pauta representará un recurso. Además, para visualizar
        los resultados y estos sean más accesibles, se ha desarrollado una página web
        muy simple para tal efecto.
    </p>

{% endblock contenido %}