{% extends 'plantilla.html' %}
{% load static %}

{% block contenido %}

    {% if error %}
        <divs class="center-items">
            <h1 style="background-color: rgba(240, 128, 128, .5);">{{ error }}</h1>
        </div>

        {% else %}
            {% if passed %}
            <div class="center-items">
                <h1>No hay nada que corregir</h1>
                <img src="{% static 'images/comprobado.png' %}" alt="checked" class="icono">
            </div>
        
            {% else %}
                <div class="center-items">
                    <h1>No ha pasado la pauta</h1>
                    <img src="{% static 'images/cancelar.png' %}" alt="checked" class="icono">
                </div>

                <hr>

                <div class="center-items">
                    <table>
                        {% if pauta %}
                            <caption>
                                <strong>{{ pauta }}</strong>
                            </caption>
                        {% endif %}
                        <thead>
                            <tr>
                                <th>Palabra/Expresi&oacute;n incorrecta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reasons in reasons %}
                                <tr>
                                    <td>{{ reasons }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table style="width: 300px;">
                        {% if pauta %}
                            <caption>
                                <strong>Posibles correcciones</strong>
                            </caption>
                        {% endif %}
                        {% if correccion %}
                            <thead>
                                <tr>
                                    <th>Posible correcci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for correct in correccion %}
                                    <tr>
                                        <td>{{ correct }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                
            {% endif %}

    {% endif %}

{% endblock contenido %}