header {
    background-color: #339EFF;
}

#lista-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.elem-header {
    float: left;
}

.elem-header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.elem-header a:hover {
    background-color: #0084ff;
}

.active {
    background-color: #0084ff;
}

