@import url('style-header.css');

.without-dott {
    list-style-type: square;
}

.center-items {
    display:flex; 
    align-items: center; 
    justify-content: center;
}

.icono {
    width: 30px; 
    height: 30px; 
    margin: 20px 10px;
}

body {
    margin: 0 auto;
    width: 75%;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

form {
    margin: 0 auto;
    width: 900px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: auto;
}

form * {
    margin: 5px;
    padding: 0;
}

input[type=submit] {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #ccc;
}

table {
    border-spacing: 10px 10px;
}

th {
    letter-spacing: 2px;
}
  
td {
    letter-spacing: 1px;
}
  
tbody td {
    text-align: center;
    border-spacing: 20px;
}