<header>
    <nav>
        <div>
            <ul id="lista-header">
                <li class="elem-header"><a href="{% url 'index' %}" title="Inicio">Inicio</a></li>
                <li class="elem-header"><a href="{% url 'info' %}" title="Información">Informacion</a></li>
                <li class="elem-header"><a href="https://github.com/josiito/TFG-DEV" title="Repositorio" target="_blank">Repositorio</a></li>
                <li class="elem-header" style="float:right">
                    <a href="{% url 'acerca-de' %}" class="active" title="Acerca de las pautas">Acerca de las pautas</a>
                </li>
            </ul>
        </div>
    </nav>
</header>